.search {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 8px 0;
    width: 100%;
}

.search h1 {
    font-size: 2em;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.search p {
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display:flex;
    height: 100vh;
    color: #000000;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container h1 {
    font-size: 1.8em;
    color: #000000d5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;

}

.container .search {
    width: 100%;
    color: #000000;

}

.container .search h1 {
    font-size: 1.8em;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.container .search p {
    font-size: 1.2em;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.container .search a {
    color: #000000;
}

.container .home {
    width: 50%;
    text-align: center;
    color: #000000;
}

.container p {
    font-size: 1.4em;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    

}