
.search h1 {
    font-size: 2em;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.search h2 {
    font-size: 1.8em;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.search p {
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display:flex;
    height: 100vh;
    color: #ffffff;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

.container h1 {
    font-size: 1.8em;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;

}

.container .search {
    width: 100%;
    color: #000000;

}

.container .search h1 {
    font-size: 1.6em;
    color: #000000df;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.container .search p {
    font-size: 0.8em;
    color: #000000df;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .search a {
    color: #000000;
}

.container .home {
    width: 50%;
    text-align: center;
    color: #000000;
}

.container p {
    font-size: 1.4em;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    

}